<h1>Sign In</h1>


<div class='row'>
  <div class='col-md-12'>
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", placeholder: "How to call you ?", autofocus: true%>
        <br><br>
        <%= f.label :Password%>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter your password",autofocus: true %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
      <br><br><br>

    <div class="col-sm-offset-2 col-sm-10">

    </div>
  </div>
  <%end%>
<div class="col-xs-4 col-xs-offset-4">

</div>
</div>
</div>
