<h1><%=@user.fname%>'s wall</h1>
  <% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="article-title">
          <%=link_to article.title,user_article_path(article.username,article.id)%> -
          <%= User.find_by_username(article.username).fname+" "+User.find_by_username(article.username).lname%>

        </div>
        <div class="article-body">
          <%= article.description%>
          <p>click to view more and comment</p>
        </div>
        <div class="article-actions">
          <div class="comments">
            <%= form_for(:article, url: user_article_comments_path(article.username,article.id)) do |f| %>
              <%=f.label :"Comment"%>
              <%=f.text_area :body, class: "form-control"%>
              <%=f.submit :"Submit"%>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
